.input{
    display: none;
}
.format {
    padding-left: 70px;
}
.upload {
    /* Upload: */
    font-family: AvenirNext-Bold, serif;
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 0;
    padding: 0 20px 0 20px;
    background-color: #4A90E2;
}