.input {
  display: none;
}
.upload {
  /* Upload: */
  font-family: AvenirNext-Bold, serif;
  font-size: 14px;
  color: white;
  letter-spacing: 0;
  padding: 5px 25px 5px 25px;
  background-color: #546e7a;
  border: none !important;
}
.font-home {
  font-family: Consolas, serif, sans-serif;
  font-size: 24px;
  color: #ffffff;
}

.error {
  color: red;
}
