.hello-world {
  margin-top: 10rem;
  font-size: 2rem;
  text-align: center;
}

.welcome-page-container {
  height: 80vh;
  overflow: auto;
  margin-top: 15px !important;
  border-radius: 20px;
  color: white !important;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  padding: 45px;
  color: azure;
  /*position: fixed;*/
  /*left: 0;*/
  margin: 0 auto 0 70px;
  background-color: #212121;
}

.assets{
  font-weight: bolder;
  font-size: larger;
  color: #4a90e2;
  margin-left: 20px;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.download-container{
  position: fixed;
  left: 832px;
  margin-top: 20px;
}

.download-button {
  background-color: rgba(255, 245, 250, 0.95);
  padding: 5px 5px 5px 5px;
  font-size: 20px;
  font-weight: bolder;
  color: #4a4a4a;
  border: none;
  margin-top: 20px;
  margin-right: 50px;
}
