.center-grid {
  padding: 15px;
  margin: auto;
}

.font-home {
  font-family: Consolas, serif, sans-serif;
  font-size: 20px;
  color: #ffffff;
  padding-bottom: 10px;
}
.file-name {
  /* EU GDPR 2016.5.4.pdf: */
  font-family: Consolas, serif;
  font-weight: bolder;
  font-size: 24px;
  padding-top: 15px;
  color: #fff4f6;
}

.go-button {
  background-color: rgba(255, 245, 250, 0.95);
  padding: 0 40px 0 40px;
  font-size: 40px;
  font-weight: bolder;
  color: #4a4a4a;
  border: none;
  margin-left: 15px;
}

.progress {
  font-family: Helvetica, serif;
  font-size: 36px;
  width: 300px;
  height: 60px;
  margin-top: 0px;
  margin-left: 30px;
  background-color: #212121;
  color: white;
}

.markdown-body {
  color: azure;
  border-radius: 20px;
  border: 1px solid white;
  margin: -33px auto 0 70px !important;
  max-width: 980px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.body-upload {
  width: 100% !important;
}

.header-upload {
  font-weight: bolder;
  font-size: 36px;
  font-family: Consolas, sans-serif, SansSerif;
  color: #fff4f6;
}
